html,
body {
  height: 100%;
  max-height: 1200px;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app {
  width: 100%;
  height: 90dvh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

#reader {
  width: 100%;
  height: 100dvh;
  min-height: 500px;
  max-height: 1200px;
  z-index: 100;
  overflow: hidden;
}

#ratio {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 2px 5px;
  color: red;
  z-index: 110;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 105;
  max-height: 300px;
}

.modal__content {
  min-width: 260px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal__text {
  line-height: 1.1;
}

.sent-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 106;
  font-size: 1.1rem;
  font-weight: bold;
}

.sent-modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 3%;
}

.sent-modal__text {
  line-height: 1.1;
  color: rgb(15, 105, 15);
}

.hidden {
  display: none;
}

button {
  width: 210px;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid rgb(233, 233, 233);
  font-size: 1rem;
}

button:first-of-type {
  margin-top: 30px;
}

button:hover {
  cursor: pointer;
  background-color: lightgray;
}

@media screen and (max-width: 768px) {
  #ratio {
    font-size: 14px;
    padding: 3px 5px;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  #reader {
    -webkit-overflow-scrolling: touch;
  }
}
