.app {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reader {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  max-height: 1000px;
}

#ratio {
  width: 100%;
  min-height: fit-content;
  position: fixed;
  bottom: 0;
  display: flex;
  white-space: normal;
  flex-direction: column;
  word-break: break-word;
  overflow-wrap: break-word;
  color: red;
  z-index: 100;
}
/* #reader__scan_region {
  min-height: 50vh;
} */

/* #reader__dashboard {
  max-height: 20vh;
} */
