html,
body {
  height: 100%;
  max-height: 1200px;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app {
  width: 100%;
  height: 90dvh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

#reader {
  width: 100%;
  height: 100dvh;
  min-height: 500px;
  max-height: 1200px;
  z-index: 100;
  overflow: hidden;
}

video {
  /* min-height: 600px; */
  /* height: 500px; */
  /* padding: 00px; */
  /* background-color: red; */
}

#qr-canvas {
  /* width: 320px;
  height: 280px;
  min-width: 320px; */
  /* min-height: 680px; */
}

#ratio {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 2px 5px;
  color: red;
  z-index: 110;
}

@media screen and (max-width: 768px) {
  #ratio {
    font-size: 14px;
    padding: 3px 5px;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  #reader {
    -webkit-overflow-scrolling: touch;
  }
}
